{% extends "shop/base.html" %}
{% load i18n %}

{% block navbar %}
   <li class="first"><a href="{{shop_base}}/">{% trans "Home" %}</a></li>
   <li>{% trans "Registration" %}</li>
{% endblock %}

{% block content %}

<h3>{% trans "Please Enter Your Account Information" %}</h3>

<table>
<form method="post" action=".">{% csrf_token %}
    {{ form.next }}

{% if allow_nickname %}
    <tr><td>{{ form.username.label }}</td><td>{{ form.username }}</td></tr>
    <tr><td></td><td>{% if form.username.errors %}*** {{ form.username.errors|join:", " }}{% endif %}</td></tr>
{% endif %}
    <tr><td>{{ form.email.label_tag }}:</td><td>{{ form.email }}</td></tr>
    <tr><td></td><td>{% if form.email.errors %}*** {{ form.email.errors|join:", " }}{% endif %}</td></tr>

    <tr><td>{{ form.first_name.label_tag }}:</td><td>{{ form.first_name }}</td></tr>
    <tr><td></td><td>{% if form.first_name.errors %}*** {{ form.first_name.errors|join:", " }}{% endif %}</td></tr>
      
    <tr><td>{{ form.last_name.label_tag }}:</td><td>{{ form.last_name }}</td></tr>
    <tr><td></td><td>{% if form.last_name.errors %}*** {{ form.last_name.errors|join:", " }}{% endif %}</td></tr>

    <tr><td>{{ form.password1.label_tag }}:</td><td>{{ form.password1 }}</td></tr>
    <tr><td></td><td>{% if form.password1.errors %}*** {{ form.password1.errors|join:", " }}{% endif %}</td></tr>

    <tr><td>{{ form.password2.label_tag }}:</td><td>{{ form.password2 }}</td></tr>
    <tr><td></td><td>{% if form.password2.errors %}*** {{ form.password2.errors|join:", " }}{% endif %}</td></tr>

    {% if show_newsletter %}
    <tr><td>{{ form.newsletter.label_tag }}:</td><td>{{ form.newsletter }}</td></tr>
    <tr><td></td><td>{% if form.newsletter.errors %}*** {{ form.newsletter.errors|join:", " }}{% endif %}</td></tr>
    {% else %}
    <input type='hidden' name='newsletter' value="False" />
    {% endif %}

<tr><td></td><td><input type="submit" value="{% trans "Create Account" %}"/></td></tr>
</form>
</table>
{% endblock %}
