{% extends "shop/base.html" %}
{% load i18n %}
{% load satchmo_currency %}
{% load satchmo_order %}

{% block navbar %}
   <li class="first"><a href="{{ shop_base }}/">{% trans "Home" %}</a></li>
   <li>{% trans "Checkout" %}</li>
{% endblock %}

{% block content %}
<h3>{% trans "Checkout" %}</h3>
<div id="checkoutprogress">
<ul>
    <li class="first"><a href="{% url "satchmo_checkout-step1" %}">{% trans "Ship/Bill" %}</a></li>
    <li>{% block payment_step %}<a href="{{ checkout_step2 }}">{% trans "Payment" %}</a>{% endblock %}</li>
    <li class="active">{% trans "Confirmation" %}</li>
</ul>
</div>
{% block error_processing %}
{% if errors %}
    <h3>{% block errorheader %}{% trans "The following error was returned while trying to process your payment. Please correct and resubmit." %}{% endblock %}</h3>
    {{ errors }}
{% else %}
    <h3>{% trans "Please validate the following information, then submit your order." %}</h3>
{% endif %}
{% endblock %}

{% block order_details %}
    {% order_details order default_view_tax %}
{% endblock %}

{% block payment_display %}
{# override for module-specific needs, such as displaying card info #}
{% endblock %}

{% block payment_form %}
{# override with any payment-module specific needs #}
<form method="post" action=".">{% csrf_token %}
<input type="hidden" name="Process" value="True">
<input type="submit" value="{% trans "Purchase Items" %}"/>
</form>
{% endblock %}

{% endblock content %}
