{% extends "shop/base.html" %}
{% load i18n %}

{% block navbar %}
   <li class="first"><a href="{{ shop_base }}/">{% trans "Home" %}</a></li>
   {% url "satchmo_account_info" as accounturl %}
   {% if accounturl %} <li><a href="{{ accounturl }}">{% trans "Account" %}</a></li>{% endif %}
   <li>{% trans "Password Change Done" %}</li>
{% endblock %}

{% block content %}

<h3>{% trans "Password change successful" %}</h3>

<p>{% trans "Your password change has been completed." %}</p>

{% endblock %}
