{% load i18n %}
{% if request.user.is_authenticated %}
<div>
    <b>Search Engine Optimization (SEO)</b><br>
    <b>Description</b>: {{seo.description}}<br>
    <b>Keywords</b>: {{seo.keywords}}<br>
</div>
{% endif %}
