// Variables
//screen breakpoints
@screen-sm-min: 768px;
@screen-md-min: 992px;
@screen-lg-min: 1200px;
@screen-hg-min: 2000px;

@screen-xs-max: 767px;
@screen-sm-max: 991px;
@screen-md-max: 1199px;

//
// Breakpoints
// Source: http://blog.scur.pl/2012/06/variable-media-queries-less-css/
@highdensity: ~"only screen and (-webkit-min-device-pixel-ratio: 1.5)",
		~"only screen and (min--moz-device-pixel-ratio: 1.5)",
		~"only screen and (-o-min-device-pixel-ratio: 3/2)",
		~"only screen and (min-device-pixel-ratio: 1.5)";
@mobile:      ~"only screen and (max-width: 529px)";
@tablet:      ~"only screen and (min-width: 530px) and (max-width: 991px)";
@desktop:     ~"only screen and (min-width: 992px) and (max-width: 1128px)";
@desktop-xl:  ~"only screen and (min-width: 1129px)";


//colors
@primary: #219AB3;
@dark: #080808;
@light: #fff;

@first_ribbon_bg: darkred;
@first_ribbon_text: black;

@second_ribbon_bg: white;
@second_ribbon_tx: black;

@c1: rgb(231,26,55);
@c2: rgb(109,110,113); // grey USED IN WELLS
@c21: #111; // Really dark grey for modal popups
@c22: #afb0b3;
@c23:  rgb(246,246,246); //Really light grey for outside of white wells
@c3: rgb(247,000,107);//Menu Highlight 
@c4: rgb(198, 47, 47); // rgb(198, 47, 47);//phone red
@c41: #de344f;
@c5: rgb(57, 182, 216);//creativa blue

@r1:20px; //standard rounded corner
@r2:50vim;  // Shop jumbotron 
@r3:88vmin;  // Inspired jumbotron
@r4:60vmin;

@call_txt_color: rgb(255, 255, 255);
@call_bg_color: rgba(206, 7, 7, 0.55);

@fresh_number_txt_color: rgb(181,49,51);


@plans_txt_color: #fff;
@plans_bg: rgb(215,128,56);
@finishes_bg: rgb(223, 52, 79);
@furniture_list_bg: rgb(198, 47, 47);

// borders

@br1:2px solid #000000;


//font-family Variables
//@t1: "CalvertMT-Light", serif;
//@t2: "CalvertMT", serif;
//@t3: "CalvertMT-Bold", serif;

//@t4: "Gotham-Light", sans-serif;
//@t5: "Gotham-Book", sans-serif ;
//@t6: "Gotham-Medium", sans-serif;
//@t7: "Gotham-Bold", sans-serif ;
//@t8: "Gotham-Black", sans-serif ;

@t1:"Open Sans", sans-serif;
@t2:"Open Sans", sans-serif;
@t3:"Open Sans", sans-serif;

@t4:"Open Sans", sans-serif;
@t5:"Open Sans", sans-serif;
@t6:"Open Sans", sans-serif;
@t7:"Open Sans", sans-serif;
@t8:"Open Sans", sans-serif;

@t9: "Open Sans", sans-serif;
@t10:"Open Sans", sans-serif;
@t11:"Open Sans", sans-serif;

@t12:"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
@t13:"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
@t14:"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
