//@import "fonts.less";
//@import "client-variables.less";
//@import "mixins.less";
@import "normalize.less";
//@import "pygments.less";
//@import "hacks.less";

// PAPER Material design implementation
//@import "bootswatch.less";


ul.nav.navbar-nav > ul:last-child {
  display: inline;
  padding-left: 0;
  list-style: none;

  & > li {
    display: inherit;
    & > a {
      padding-top: 10px;
      padding-bottom: 10px;
      line-height: 20px;
    }
  }
}



::-moz-selection {
  text-shadow: none;
  background: #ff0;
  background: fade(#ff0, 40%);
}

::selection {
  text-shadow: none;
  background: #ff0;
  background: fade(#ff0, 40%);
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

#cms_toolbar-item_login{
  display:none
}
