{% load i18n menu_tags %}
{% get_available_languages as languages %}
{% for language in languages %}
    {% language language.0 %}
    {% ifequal current_language language.0 %}
    {% else %}
    <li><a href="{% page_language_url language.0 %}">{{ language.1 }}</a></li>
    {% endifequal %}
    {% endlanguage %}
{% endfor %}
