.module{
  min-height:2em
}

#sites-module > div > ul > li{
  list-style: none;
}

p, #settingsform > fieldset > table, input[type="submit"]
{
  margin: 0 0 0 10px;
}
input[type="submit"]{
  margin-bottom: 1.6em;
}
