div.Site.administration > div#content-main{
display:none
}

div.dynamic-formdefinitionfield_set h3, div.dynamic-formdefinitionfield_set fieldset{
	padding-bottom:1em
}

h2.legend{padding-bottom:1em
}

/* Selector should be wider */
.form-horizontal .control-group .controls .selector .selector-available, .form-horizontal .control-group .controls .selector .selector-chosen {
max-width: inherit;
}

#eventspluginmodel_form select{
    width:100%
}
