/* Move down content because we have a fixed navbar that is 50px tall */
body {
/*  padding-top: 45px; */
}

.form-control, .btn {
  margin:0px 0px;
}

#cms_toolbar-toolbar {
  /* top: 50px !important;*/
  position: fixed !important;
}

#satchmo-toolbar {
  top: 50px !important;
  position: fixed !important;
}
/* #TODO lookinto why hardcoding is needed here  */
.cmsplugin_filer_folder_slidshow {
	margin: 1px;
	display: inline-block;
	width: 230px;
	height: 230px;
}

#footer {
    clear: both;
    position: relative;
    z-index: 10;
    margin-bottom: -1em;
/*    margin-top: 13em;*/
}

