.share-container {
  position: fixed;
  top: 60%;
  right: 0;
  display: inline-block;
  min-height: 3em;
  max-width: 3.5em;
  padding: 0.5em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #ddd;
  z-index:1000;
}
.share-container:hover ul li {
  width: 2.2em;
  margin-right: 0.25em;
  opacity: 1;
  -ms-filter: none;
  -webkit-filter: none;
  filter: none;
  display: inline;
}
.share-container:hover ul li:first-child {
  width: 0;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
.share-container ul {
  display: block;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
.share-container ul li {
  overflow: hide;
  width: 0;
  height: 2em;
  line-height: 2em;
  -webkit-padding-before: .5em;
  display: block;
  float: left;
  text-indent: 0;
  list-style: none;
  text-align: center;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  cursor: pointer;
  margin-right: 0em;
}
.share-container ul li:first-child {
  width: 2.5em;
  margin-right: 0;
  opacity: 1;
  -ms-filter: none;
  -webkit-filter: none;
  filter: none;
  display: inline;
  background-color: #fff;
}

