<div id="accordion{{ instance.id }}" class="toggle">
    <div class="panel-default">
        <div class="toggle-heading toggle-colour{{ instance.colour }}">
            <!--h4 class="panel-title"-->
            <a data-toggle="collapse" data-parent="#accordion{{ instance.id }}" href="#collapse{{ instance.id }}" class="toggle-link">
                {{ instance.title }}
                <span class="glyphicon glyphicon-chevron-down pull-right toggle-glyph"></span>
            </a>
            <!--/h4-->
        </div>
        <div id="collapse{{ instance.id }}" class="panel-collapse collapse {% if instance.open %}in{% endif %}">
            <div class="panel-body">
            {{ body|safe }}
            </div>
        </div>
    </div>
</div>

