
            <li class="">
              <a href="shop-checkout.html" class="right-icon cart">
                <i class="fa fa-shopping-cart"></i>
                <span class="cart-notification">2</span>
              </a>
              <!-- Cart Dropdown List -->
              <div class="cart-dropdown">
                <ul class="cart-list">
                  <li class="light-color">
                    <a class="close-cart-list"><i class="fa fa-times-circle"></i></a>
                    <div class="media">
                      <a class="pull-left">
                        <img src="{{ STATIC_URL }}img/product/02.jpg" alt="fashion" /></a>
                      <div class="media-body">
                        <h6><a>Fashion Model New /01</a></h6>
                        <p>$399.00</p>
                      </div>
                    </div>
                  </li>
                  <li class="light-color">
                    <a class="close-cart-list"><i class="fa fa-times-circle"></i></a>
                    <div class="media">
                      <a class="pull-left">
                        <img src="{{ STATIC_URL }}img/product/06.jpg" alt="fashion" /></a>
                      <div class="media-body">
                        <h6><a>Fashion Model New /02</a></h6>
                        <p>$399.00</p>
                      </div>
                    </div>
                  </li>
                </ul>
                <p class="cart-sub-totle"><span class="pull-left">Cart Subtotal</span><span class="pull-right totle"><strong>$798.00</strong></span></p>

                <a href="shop-checkout.html" class="btn btn-md btn-color-b form-full checkout">Checkout</a>
              </div>
            
            <!-- End Cart Dropdown List -->
          </li>
