{% load dajaxice_templatetags %}
    <meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width" media="(device-height: 568px)" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link rel="shortcut icon" type="image/x-icon" href="http://placehold.it/114x114px">
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/static/css/jumbotron.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="/static/css/inspired/style.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}font-awesome-4.1.0/css/font-awesome.min.css" type="text/css" />
    <link rel="stylesheet/less" href="{{ STATIC_URL }}less/style.less" title="Style"  type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Fjalla+One|Nunito+Sans" rel="stylesheet"> 
    {% dajaxice_js_import %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/jssor.core.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jssor.utils.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jssor.slider.js"></script>
    <script src="{{ STATIC_URL }}js/inspired/jquery.masonry.min.js"></script>
    <script src="{{ STATIC_URL }}js/inspired/jquery.history.js"></script>
    <script src="{{ STATIC_URL }}js/inspired/js-url.min.js"></script>
    <script src="{{ STATIC_URL }}js/inspired/jquerypp.custom.js"></script>
    <script src="{{ STATIC_URL }}js/inspired/gamma.js"></script>
    <script>
	less = {
	env: "development",
	     async: false,
	     fileAsync: false,
	     poll: 100000,
	     functions: {},
	     dumpLineNumbers: "comments",
	     relativeUrls: false,
	};
    </script>
    <script src="{{ STATIC_URL }}js/less.js" type="text/javascript"></script>
    <script>less.watch();</script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
