{% load cms_tags sekizai_tags menu_tags %}
    <div class="navbar navbar-custom navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header page-scroll">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/#page-top">
            <img class="logo" src="{{ STATIC_URL }}/less/images/logo_x_small.png">
          </a>
        </div>
        <div class="navbar-collapse collapse  navbar-right navbar-main-collapse">
          <ul class="nav navbar-nav">
              {% show_menu 0 100 100 100 %}
              {% comment %}{% language_chooser "menu/language_chooser.html" %}{% endcomment %}
          </ul>
          <form class="navbar-form navbar-right hidden" role="form">
            <div class="form-group">
              <input type="text" placeholder="Email" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Sign in</button>
          </form>
        </div><!--/.navbar-collapse -->
      </div>
    </div>
