{% extends "shop/base.html" %}
{% load i18n %}
{% load smart_load %}
{% load thumbnail from sorl.thumbnail %}
{% load satchmo_category %}

{% block extra-head %}
{% if category.meta %}
<meta name="description" content="{{ category.meta|escape }}">
{% endif %}
{% endblock %}

{% block navbar %}
<li class="first"><a href="{{ shop_base }}/">{% trans "Home" %}</a></li>
{% for parent in category.parents %}<li><a href="{{ parent.get_absolute_url }}">{{ parent.translated_name }}</a></li>{% endfor %}
<li>{{ category.translated_name }}</li>
{% endblock %}

{% block content %}
<!-- template_content Section -->
<div id="product_category">
  <h3>{{ category.translated_name }}</h3>
  {% if category.translated_description %}<p class="product_category_description">{{ category.translated_description }}</p>{% endif %}
  {% if category.main_image %}
  {% thumbnail category.main_image.picture "85x85" as image %}
  <img src="{{ image.url }}" width="{{ image.width }}" height="{{ image.height }}" />
  {% endthumbnail %}
  {% endif %}
</div>
      </div>

      <div class="row container-grid">
        {% for product in products %}

        <div class="nf-item col-md-6 col-sm-6 mb-30">
          <div class="item-box">
            <!-- Shop item images -->
            <div class="shop-item">
              <div class="item-img">
                {% if product.main_image %}
                <center>
                  {% thumbnail product.main_image.picture "885x885" as image %}
                  <img src="{{ image.url }}" width="{{ image.width }}" height="{{ image.height }}" /></a>
                {% endthumbnail %}
              </center>
              {% else %}
              <img src="img/product/01.jpg">
              {% endif %}
            </div>
            <div class="item-mask">
              <div class="item-mask-detail">
                <div class="item-mask-detail-ele">
                {% if product.configurableproduct %}
                <form id="options" action="{{ product.get_absolute_url }}">
                  <button type="submit" class="btn btn-line-xs btn-white-line">
                    <i class="fa fa-shopping-cart"></i>{% trans "Details" %}
                  </button>
                </form>
                {% else %}
                <form id="options" action="{% url "satchmo_smart_add" %}" method="post">{% csrf_token %}
                  <input type="hidden" size="5" name="quantity" id="quantity" value="1" class="priced" />
                  <input type="hidden" name="productname" id="productname" value="{{product.slug}}" />
                  <button type="submit" name="addcart"  class="btn btn-line-xs btn-white-line">
                    <i class="fa fa-shopping-cart"></i>{% trans "Add to cart" %}
                  </button>
                </form>
                {% endif %}
                </div>
              </div>
            </div>
          </div>
          <!-- End Shop item images -->

          <!-- Shop item info -->
          <div class="shop-item-info">
            <a href="{{ product.get_absolute_url }}">
              <h6 class="shop-item-name">{{ product.translated_name }}</h6>
            </a>
            <div class="shop-item-price"><span>{{ product.price }}</span></div>
          </div>
          <!-- Shop item info -->
        </div>
      </div>
      {% endfor %}
      {% if child_categories %}
      {% for cat in child_categories %}
      <h4>{{cat.translated_name}}</h4>
      {% if cat.translated_description %}<p class="product_category_description">{{ cat.translated_description }}</p>{% endif %}
      {% for product in cat.active_products %}
      {% if forloop.first %} <ul>  {% endif %}
        <li>{% thumbnail product.main_image.picture "85x85" as image %}
          <a href="{{ product.get_absolute_url }}"><img src="{{ image.url }}" width="{{ image.width }}" height="{{ image.height }}" /></a>{% endthumbnail %}
          <a href="{{ product.get_absolute_url }}">{{ product.translated_name }}</a></li>
        {% if forloop.last %} </ul> {% endif %}
      {% endfor %}
      {% endfor %}
      {% endif %}
      {% if sale %}
      {% include "product/some_discount_eligible.html" %}
      {% endif %}
    </div>


    {% endblock %}
