{% extends "shop/base.html" %}{% load url from future %}

{% comment %}
-------------------------------------------------------------------
This is an extened version of the base satchmo product template. It
detects is a product is also and event. If it is it then renders
a django-cms place holder. This allows for the use of django-cms
plugins.
-------------------------------------------------------------------
{% endcomment %}
{% load i18n %}
{% load smart_load %}
{% load thumbnail from sorl.thumbnail %}
{% load satchmo_price %}
{% load satchmo_currency satchmo_category %}
{% load satchmo_util satchmo_discounts %}
{% load app_plugins %}
{% load placeholder_tags %}
{% block extra-head %}
{% if product.meta %}
<meta name="description" content="{{product.meta}}">
{% endif %}
{% endblock %}

{% block navbar %}
<li class="first"><a href="{{ shop_base }}/">{% trans "Home" %}</a></li>
{% for name, url in product.category.all.0.get_url_name %}
<li><a href="{{ url }}">{{ name }}</a></li>
{% endfor %}
<li>{{ product.translated_name }}</li>
{% endblock %}

{% block content %}
{% block productdetail %}
<h4>{{ product.translated_name }}</h4>
{% if product.cocomproduct %}
{% render_placeholder product.cocomproduct.placeholder_1  %}
{% endif %}
<p>{{ product.translated_description }}</p>
{% trans "Price" %} {% if default_view_tax %} {% trans '(incl. tax)' %}{% endif %}:
<h3>
  {% if sale %}<strike id="fullprice" style="display: block;">{{ product|discount_price:""|currency }}</strike>{% endif %}
  <span id="price">{{ product|discount_price:sale|currency }}</span>
</h3>
{% for pic in product.productimage_set.all %}
{% thumbnail pic.picture "880x880" as image %}
<img src="{{ image.url }}" width="{{ image.width }}" height="{{ image.height }}" />
{% endthumbnail %}
{% endfor %}

{% with product.translated_attributes as atts %}{% if atts %}
<p class="productattributes">
  {% for att in product.translated_attributes %}
  {{ att.description }}: {{ att.value }}<br/>
  {% endfor %}
</p>
{% endif %}{% endwith %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<form id="options" action="{% url "satchmo_smart_add" %}" method="post">{% csrf_token %}
  {% trans "Quantity" %} <input type="text" size="5" name="quantity" id="quantity" value="1" class="priced" />
  <input type="hidden" name="productname" id="productname" value="{{product.slug}}" />
  <input type="submit" name="addcart" value="{% trans "Add to cart" %}" />
  {% plugin_point "product_add_buttons" %}
  {% plugin_point "product_form" %}
</form>


{% endblock %}

{% block productfooter %}
{% if sale %}{% include "product/product_discount_eligible.html" %}{% endif %}
{% plugin_point "product_footer" %}
{% endblock %}
{% endblock %}

