{% extends "shop/base.html" %}
{% load smart_load %}
{% load thumbnail from sorl.thumbnail %}
{% load i18n %}
{% block pagename %}{% trans 'Brands' %}{% endblock %}

{% block navbar %}
<li><a href="{{shop_base}}">{% trans 'Home' %}</a></li>
<li>{% trans 'Brands' %}</li>
{% endblock %}

{% block content %}
<h2>Brands</h2>
{% if brands %}
<div id="product_category" class="brand">
	{% for brand in brands %}{% with brand.translation as translated %}
	<div class="brandImage">
        {% thumbnail translated.picture "85x85" as image %}
        <a href="{{ brand.get_absolute_url }}"><img src="{{ image.url }}" width="{{ image.width }}" height="{{ image.height }}" /></a>
        {% endthumbnail %}
		<br/>
       	<a href="{{ brand.get_absolute_url }}">{{ translated.name }}</a>
	</div>
       {% endwith %}{% endfor %}
</div>
{% else %}
<p>{% trans 'No brands are active' %}</p>
{% endif %}
{% endblock %}
