{% extends "shop/base.html" %}
{% load i18n %}
{% load smart_load %}
{% load thumbnail from sorl.thumbnail %}
{% load satchmo_util %}

{% block navbar %}
<li class="first">{% trans "Home" %}</li>
{% endblock %}

{% block content %}
				<h1>{% trans "Welcome to the shop." %}</h1>
			</div>
		</div>
		<!-- Shop Items -->
		<div class="row">
			<div class="col-md-12">
				{% if all_products_list %}
				<h4>{% trans "Featured Items" %}</h4>
			</div>
		</div>
		<div class="row container-grid">

			{% for product in all_products_list %}
      <div class="nf-item col-md-6 col-sm-6 mb-30">
        <div class="item-box">
          <!-- Shop item images -->
          <div class="shop-item">
            <div class="item-img">
              {% if product.main_image %}
              <center>
                {% thumbnail product.main_image.picture "885x885" as image %}
                <img src="{{ image.url }}" width="{{ image.width }}" height="{{ image.height }}" /></a>
              {% endthumbnail %}
            </center>
            {% else %}
            <img src="img/product/01.jpg">
            {% endif %}
          </div>
          <div class="item-mask">
            <div class="item-mask-detail">
              <div class="item-mask-detail-ele">
                {% if product.configurableproduct %}
                <form id="options" action="{{ product.get_absolute_url }}">
                  <button type="submit" class="btn btn-line-xs btn-white-line">
                    <i class="fa fa-shopping-cart"></i>{% trans "Details" %}
                  </button>
                </form>
                {% else %}
                <form id="options" action="{% url "satchmo_smart_add" %}" method="post">{% csrf_token %}
                  <input type="hidden" size="5" name="quantity" id="quantity" value="1" class="priced" />
                  <input type="hidden" name="productname" id="productname" value="{{product.slug}}" />
                  <button type="submit" name="addcart"  class="btn btn-line-xs btn-white-line">
                    <i class="fa fa-shopping-cart"></i>{% trans "Add to cart" %}
                  </button>
                </form>
                {% endif %}
            </div>
          </div>
          </div>
        </div>
        <!-- End Shop item images -->

        <!-- Shop item info -->
        <div class="shop-item-info">
          <a href="{{ product.get_absolute_url }}">
            <h6 class="shop-item-name">{{ product.translated_name }}</h6>
          </a>
          <div class="shop-item-price"><span>{{ product.price }}</span></div>
        </div>
        <!-- Shop item info -->
      </div>
    </div> 
			{% endfor %}
			{% endif %}

			{% if is_paginated %}
			<div id = "pagination">
				<ul>
					{% if page_obj.has_previous %}
					<li> <a href="{{shop_base}}/?page={{page_obj.previous_page_number}}">{% trans "Previous" %}</a> </li>
					{% else %}
					<li> {% trans "Previous" %} </li>
					{% endif %}
					{% for page_number in paginator.num_pages|template_range %}
					{% ifequal page_number page_obj.number %}
					<li class="currentpage">{{page_number}}</li>
					{% else %}
					<li> <a href="{{shop_base}}/?page={{page_number}}">{{page_number}}</a> </li>
					{% endifequal %}
					{% endfor %}
					{% if page_obj.has_next %}
					<li> <a href="{{shop_base}}/?page={{page_obj.next_page_number}}">{% trans "Next" %}</a></li>
					{% else %}
					<li> {% trans "Next" %} </li>
					{% endif %}
				</ul>
			</div>
			{% endif %}
{% endblock %}
