{% load cms_tags sekizai_tags menu_tags %}
{% load dajaxice_templatetags %}
{% load i18n satchmo_category satchmo_google satchmo_util satchmo_currency satchmo_discounts app_plugins normalize_decimal %}
{% load url from future %}
{% block doctype %}<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
     PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
{% endblock %}
<head>
    {% block extra-head %}{% endblock %}
    {% block stylesheet %}<link rel="stylesheet" href="{{ STATIC_URL }}css/style.css" />{% endblock %}
    <title>{% block title %}{{ shop_name }}{% if pagetitle %}: {{ pagetitle }}{% endif %}{% endblock %}</title>
    <!--<meta name="viewport" content="initial-scale=1.0,maximum-scale=1,width=device-width" />-->
    <meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width" media="(device-height: 568px)" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    {% plugin_point "page_head" %}
    {% render_block "css" %}
    <link rel="shortcut icon" type="image/x-icon" href="http://placehold.it/114x114px">
    {% addtoblock "css" %}<link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />{% endaddtoblock %}
    {% addtoblock "css" %}<link href="/static/css/jumbotron.css" rel="stylesheet" type="text/css" />{% endaddtoblock %}
    {% addtoblock "css" %}<link rel="stylesheet" type="text/css" href="/static/css/inspired/style.css"/>{% endaddtoblock %}
    {% addtoblock "css" %}<link rel="stylesheet" href="{{ STATIC_URL }}font-awesome-4.1.0/css/font-awesome.min.css" type="text/css" />{% endaddtoblock %}
    {% addtoblock "css" %}<link rel="stylesheet/less" href="{{ STATIC_URL }}less/style.less" title="Style"  type="text/css" />{% endaddtoblock %}
    {% addtoblock "css" %}<link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>{% endaddtoblock %}
    {% addtoblock "css" %}<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>{% endaddtoblock %}
    {% addtoblock "js" %}{% dajaxice_js_import %}{% endaddtoblock %}
    {% addtoblock "js" %}<script type="text/javascript" src="{{ STATIC_URL }}js/jssor.core.js"></script>{% endaddtoblock %}
    {% addtoblock "js" %}<script type="text/javascript" src="{{ STATIC_URL }}js/jssor.utils.js"></script>{% endaddtoblock %}
    {% addtoblock "js" %}<script type="text/javascript" src="{{ STATIC_URL }}js/jssor.slider.js"></script>{% endaddtoblock %}
	{% addtoblock "js" %}<script src="{{ STATIC_URL }}js/inspired/jquery.masonry.min.js"></script>{% endaddtoblock %}
	{% addtoblock "js" %}<script src="{{ STATIC_URL }}js/inspired/jquery.history.js"></script>{% endaddtoblock %}
	{% addtoblock "js" %}<script src="{{ STATIC_URL }}js/inspired/js-url.min.js"></script>{% endaddtoblock %}
	{% addtoblock "js" %}<script src="{{ STATIC_URL }}js/inspired/jquerypp.custom.js"></script>{% endaddtoblock %}
	{% addtoblock "js" %}<script src="{{ STATIC_URL }}js/inspired/gamma.js"></script>{% endaddtoblock %}
	<script>
	  less = {
	    env: "development",
	    async: false,
	    fileAsync: false,
	    poll: 100000,
	    functions: {},
	    dumpLineNumbers: "comments",
	    relativeUrls: false,
	  };
	</script>
    <script src="{{ STATIC_URL }}js/less.js" type="text/javascript"></script>
    <script>less.watch();</script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body id="{% if bodyid %}{{ bodyid }}{% else %}page-top{% endif %}"
data-spy="scroll" data-target=".navbar-custom" {% if bodyclass %} class="{{ bodyclass }}"{% endif %}>
    {% cms_toolbar %}
    {% plugin_point "page_top" %}
    <div class="navbar navbar-custom navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header page-scroll">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/#page-top">
              <img class="" src="{{ STATIC_URL }}images/Logo.png">
          </a>
        </div>
        <div class="navbar-collapse collapse  navbar-right navbar-main-collapse">
          <ul class="nav navbar-nav">
              <!--<li><a href="#" onclick="$('link[title=Grayscale]').attr('href','{{ STATIC_URL }}css/themes/chicago.css'); return false;">Chicago</a></li>
              <li><a href="#" onclick="$('link[title=Grayscale]').attr('href','{{ STATIC_URL }}css/themes/spices.css'); return false;">Spices</a></li>
              <li><a href="#" onclick="$('link[title=Grayscale]').attr('href','{{ STATIC_URL }}css/themes/nyc_sunrise.css'); return false;">NYC</a></li>-->
              {% show_menu 0 100 100 100 %}
              {% comment %}{% language_chooser "menu/language_chooser.html" %}{% endcomment %}
          </ul>
          <form class="navbar-form navbar-right hidden" role="form">
            <div class="form-group">
              <input type="text" placeholder="Email" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Sign in</button>
          </form>
        </div><!--/.navbar-collapse -->
      </div>
    </div>

    <!--<div id="container">-->
	    <!--<div id="top">
	        <h1>{{ shop_name }}</h1>
	    </div>-->

	    <div id="navbar" class="hidden">
	    <ul>
	    	{% block navbar %}Breadcrumbs here{% endblock %}
	   	</ul>
    </div>

    <div id="sidebar-secondary" class="hidden">
		{% block sidebar-secondary %}
		<div>
			{% satchmo_search_form %}
		</div>
		<div>
			{% block sidebar %}
			<h3>{% trans "Shop Categories" %}</h3>
			{% block sidebar-categories %}
			<div id="menu_container">
                {% if category.id %}
                    {% category_tree category.id %}
                {% else %}
                    {% if product.get_category %}
                        {% category_tree product.get_category.id %}
                    {% else %}
                        {% category_tree %}
                    {% endif %}
                {% endif %}
			</div>
			{% endblock sidebar-categories %}
			
			{% block sidebar-secondary-bottom %}
			{% plugin_point "sidebar_secondary_bottom" %}
			{% endblock %}
			{% endblock sidebar %}
		</div>
		{% endblock sidebar-secondary %}
	</div>

	<div id="sidebar-primary" class="hidden">{# rightnav #}
		{% block sidebar-primary %}
		<h3>{% trans "Quick Links" %}</h3>
		{% url "satchmo_product_recently_added" as recenturl %}
		{% if recenturl %}<a href="{{ recenturl }}">{% trans "Recently Added" %}</a>{% endif %}
		{% url "satchmo_product_best_selling" as popularurl %}
		{% if popularurl %}<br/><a href="{{ popularurl }}">{% trans "Best Sellers" %}</a><br/>{% endif %}
        {% url "satchmo_category_index" as category_index %}
        {% if category_index %} <a href="{{ category_index }}">{% trans "Category Index" %}</a><br /> {% endif %}
        {% url "satchmo_quick_order" as quick_order %}
        {% if quick_order %}<a href="{{ quick_order }}">{% trans "Quick Order" %}</a> {% endif %}
		{% plugin_point "sidebar_links" %}

	    <h3>{% trans "Account Information" %}</h3>
	    {% if user.is_staff %}
		<a href="{% url "admin:index" %}" target="blank">{% trans "Admin" %}</a><br/>
		{% endif %}
	    {% if user.is_authenticated %}
		{% url "satchmo_account_info" as accounturl %}
        {% if accounturl %}<a href="{{ accounturl }}" target="blank">{% trans "Account Details" %}</a><br/>{% endif %}
        <a href="{{ logout_url }}?next={{request.path}}">{% trans "Log out" %}</a><br/>
	    {% else %}
        <a href="{{ login_url }}?next={{request.path}}">{% trans "Log in" %}</a><br/>
	    {% endif %}

		{% url "satchmo_cart" as carturl %}
	    {% if carturl %}<a href="{{ carturl }}">{% trans "Cart" %}</a>{% endif %}

	    {% if not cart.is_empty %}
            ({{ cart_count|normalize_decimal }} - {% if sale %}{{ cart|discount_cart_total:sale|currency }}{% else %}{{cart.total|currency}}{% endif%}) <br/>
            {% url "satchmo_checkout-step1" as checkouturl %}
            {% if checkouturl %}<a href="{{ checkouturl }}">{% trans "Check out" %}</a>{% endif %}
	    {% endif %}
	
		{% plugin_point "shop_sidebar_actions" %}
    
		{% url "satchmo_contact" as contact_url %}
	    {% if contact_url %}<p><a href="{{ contact_url }}">{% trans "Contact Us" %}</a></p>{% endif %}

		{% satchmo_language_selection_form %}

		{% block sidebar-primary-bottom %}
		{% plugin_point "shop_sidebar_primary" %}
		{% endblock %}
		{% endblock sidebar-primary %}
	</div>

	<!--<div id="content">-->
        {% placeholder base_content %}
            {% block base_content%}{% endblock %}
	    {% block content %}{% endblock %}
	<!--</div>-->
	<div id="footer">
		{% block footer %}
		{% blocktrans %}<p>Powered by <a href="http://www.openco.ca">OpenCo</a>.</p>{% endblocktrans %}
		{% endblock %}
	</div>

    <!--</div>-->
	{% block page-close %}
    {% block google-tracker %}
    {% if shop.options.GOOGLE.ANALYTICS.value %}
        {% show_tracker is_secure %}
    {% endif %}
    {% endblock %}
{% endblock %}
</body>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="/static//js/inspired/modernizr.custom.70736.js"></script>
{% render_block "js" %}
{% addtoblock "js" %}<script src="/static/bootstrap/js/bootstrap.min.js"></script>{% endaddtoblock %}
{% addtoblock "js" %}<script src="/static/js/bootswatch.js"></script>{% endaddtoblock %}
{% addtoblock "js" %}<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>{% endaddtoblock %}
{% addtoblock "js" %}<script src="/static/js/jquery.matchHeight.js"></script>{% endaddtoblock %}
{% addtoblock "js" %}<script src="/static/js/grayscale.js"></script>{% endaddtoblock %}
{% addtoblock "js" %}<script src="/static/js/styleswitcher.js"></script>{% endaddtoblock %}
</html>
