{% extends "base.html" %}
{% load cms_tags %}

Template 1

{% block base_content %}
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        {% placeholder template_content %}
      </div>
    </div>
{% endblock %}
