{% load i18n %}

{% block login-form %}
<form name="loginform" method="post" action="{% url "auth_login" %}">{% csrf_token %}
<input type="hidden" name="next" value="{% if next %}{{ next }}{% else %}{% url "satchmo_account_info" %}{% endif %}" />
<input type="hidden" name="action" value="login" />
<table class="form" style="float:left; width: 50%">
    <thead>
        <tr>
            <th colspan="2" class="label"><b>{% trans 'Existing members login' %}</b></th>
        </tr>
    </thead>
    <tbody>
        {% if loginform.non_field_errors %}
            <tr><td class="warn" colspan="2">
				{{ loginform.non_field_errors }}
            </td></tr>
        {% endif %}
        <tr>
            <td class="label">
                <label for="id_username">{% trans "Email Address:" %}</label>
            </td>
            <td class="text">
                {{loginform.username }}
            </td>
        </tr>
        {% if loginform.username.errors %}<tr><td colspan="2">{{ loginform.username.errors|join:", " }}</td></tr>{% endif %}
        <tr>
            <td class="label">
                <label for="id_password">{% trans "Password:" %}</label>
            </td>
            <td class="text">
                {{loginform.password }}
            </td>
        </tr>
        {% if loginform.password.errors %}<tr><td colspan="2">{{ loginform.password.errors|join:", " }}</td></tr>{% endif %}
        <tr>
            <td colspan="2" class="button">
				<input type="submit" name="login" value="{% trans 'Login' %}" />
            </td>
        </tr>
    </tbody>
</table>
</form>
{% endblock %}
