{% if user.is_staff %}{% load url from future %}
{% load i18n satchmo_currency app_plugins %}
<div id="satchmo-toolbar">
    <div id='st-view' title="Satchmo Toolbar">&nbsp;&raquo;&nbsp;</div>
    <div id="st-panels">
        <div id="st-hide" class="panel">OpenCo Commerce</div>
        <div class="panel">
            <a href="{% url "admin:index" %}" target="blank">{% trans "Admin" %}</a>
        </div>
        <div class="panel">
            {% blocktrans count st_new_order_ct as counter %}New order:{% plural %}New orders:{% endblocktrans %}
            <a href="{% url "admin:shop_order_changelist" %}?status__exact=New">{% blocktrans with st_new_order_total|currency as new_total %}{{ st_new_order_ct }} for {{ new_total }}{% endblocktrans %}</a>
        </div>
        <div class="panel">
            {% blocktrans %}Carts in 1h/1d/7d: {{ st_cart_1h_ct }}/{{ st_cart_1d_ct }}/{{ st_cart_7d_ct }}{% endblocktrans %}
        </div>
        <div class="panel">
            {% blocktrans %}Contacts: 7d/total: {{ st_contacts_7d_ct }}/{{ st_contacts_ct}}{% endblocktrans %}
        </div>
        {% if st_show_sales %}
        <div class="panel">
            {% blocktrans %}Number sold: {{st_total_sold}}{% endblocktrans %} <span id="toggle">{% if st_variations %}(+){% endif %}</span>
            <div id="slidedown">
                    <ul>
                    {% for variation in st_variations %}
                        <li>{{ variation.name }}:{{variation.total_sold}} </li>
                    {% endfor %}
                    </ul>
                </div>
        </div>
        {% endif %}
        {% for label, url in st_edits %}
        <div class="panel">
            <a href="{{ url }}">{{ label }}</a>
        </div>
        {% endfor %}
        {% plugin_point "satchmo_toolbar" %}
    </div>
</div>
<div style="clear: both;"></div>
{% endif %}
