// fonts

@font-face {
    font-family: 'CalvertMT';
    src: url('../fonts/CalvertMT/CalvertMT.woff') format('woff');
}
@font-face {
    font-family: 'CalvertMT-Bold';
    src: url('../fonts/CalvertMT/CalvertMT.woff') format('woff');
}
@font-face {
    font-family: 'CalvertMT-Light';
    src: url('../fonts/CalvertMT/CalvertMTLig.woff') format('woff');
}
@font-face {
    font-family: 'Gotham-Light';
    src: url('../fonts/Gotham/GothaLig.woff') format('woff');
}
@font-face {
    font-family: 'Gotham-Medium';
    src: url('../fonts/Gotham/GothaMed.woff') format('woff');
}
@font-face {
    font-family: 'Gotham-Black';
    src: url('../fonts/Gotham/GothaBla.woff') format('woff');
}
@font-face {
    font-family: 'Gotham-Bold';
    src: url('../fonts/Gotham/GothaBol.woff') format('woff');
}
@font-face {
    font-family: 'Gotham-Book';
    src: url('../fonts/Gotham/GothaBoo.woff') format('woff');
}

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,600,800);
