// These are a bunch of hacks.

.col-centered{
      float: none;
      margin: 0 auto;
}

.thin_ribbon(@border_height:13pt, @font-family:@t8){
        font-family: @font-family;
        font-size: 17pt;
        text-align: center;
        .ribbon( darkred,white, @font-family,);
        margin: 1.5em 2em;
        width: 17em;
        padding: .4em 0em 7pt;
        &:before, &:after {
            border: @border_height solid @c4;
        }
        &:before {
         left: -(@border_height);
         border-left-color: transparent;
        }
        &:after {
         right: -(@border_height);
         border-right-color: transparent;
        }
}
