@import "fonts.less";
@import "client-variables.less";
@import "mixins.less";
@import "normalize.less";
@import "pygments.less";
@import "inline_form.less";
@import "hacks.less";

// PAPER Material design implementation
@import "bootswatch.less";

* {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}

html {
	width: 100vw;
	//height: 100vh;
	max-width: 100%;
	overflow-x: hidden;
}

body {
	//max-width:1750px;
	height: 101%;
	overflow-x: hidden;
	//overflow-y: scroll;
  //	color: @dark;
	background-color: @light;
	margin: auto;
  margin-top: 80px;
}


.intro {
  display: table;
  width: 100%;
  height: auto;
}
//Event style
h1.event-title{
  text-align: center;
}

#col1, #col2{
margin-top: 114px;
}

#map{
    width: 100%;
    height: 74vh
}

.light {
    font-weight: 400;
}

.navbar-custom {
  //margin-top:39px;
  margin-bottom: 0;
  border-bottom:00px solid fade(@light, 30%);
  text-transform: uppercase;
  background-color: @light;
  z-index: 100000;
  .navbar-brand {
    @media @tablet {
      img{height: 60px; margin-top: 5px;}
    }
    @media (max-width: @screen-xs-max) {
      float:none; display:block;
      img{
        .center-block
      }
    }
    padding-top: 0px;
    font-weight: 700;
    &:focus {
      outline: none;
    }
  }
  .navbar-toggle {
    float: left;
    position: absolute;
    height: 32px;
    padding: 4px 6px;
    font-size: 16px;
    color: @dark;
    &:focus,
    &:active {
      outline: none;
    }
    .icon-bar{
    background-color: @c1;}
  }
  a {
    color: @dark;
  }
  .nav {
    li {
      &.active {
        outline: nonte;
        background-color: fade(@dark, 30%);
      }
      a {
        font-family: @t7;
        //-webkit-transition: background .3s ease-in-out;
        //-moz-transition: background .3s ease-in-out;
        .transition( background .3s ease-in-out);
        span{
          text-transform: lowercase;
          font-family: @t4
        };
        &:hover,
        &:focus,
        &.active {
          outline: none;
          background-color: @c3;
        }
      }
      &.selected {
        a{
          background-color: @c3;
        }

      }
    }
  }
  ul.view-nav{
    margin-left: auto;
    margin-right: auto;
    @media @mobile{width: 273px;}
    @media @tablet{width: 350px;}
    width: 365px;
    float:none;
    li{ 
      float:left;
    }
  }

}

.call-bar{
	z-index: 1000;
	padding: 0;
	position: fixed;
    top:0;
	right: 0;
	left: 0;
	text-align: center;
  height:40px;
	background: @dark;
	a{
		line-height:40px;
		color:@light;
		float:right;
		padding-right:2.2em;
		font-family:@t7;
		text-transform: uppercase;
    @media (max-width: @screen-xs-max) {float:none; padding-right:0}
	}
}

@media(min-width:767px) {
    .navbar {
	.container{padding-right:0}
        border-bottom: none;
        letter-spacing: 1px;
        background-color: @light;
        .transition( background 1s ease-in-out);
        .transition( padding 1s ease-in-out);
	.navbar-nav{
		li{
			a {
				padding-top: 25px;
				padding-bottom: 25px;
				.transition( padding-top 1s  ease-in-out);
				.transition( padding-bottom 1s  ease-in-out);
				line-height:20px;
				.transition( line-height 1s ease-in-out);
				font-size:17px;
			}

			//&:nth-child(3) > a {padding-right:1.8em}
		}
	}
    }
    .top-nav-collapse {
        padding: 0;
    }
    .navbar-custom.top-nav-collapse {
        border-bottom: 0px solid fade(@light, 30%);
	.navbar-nav>li>a {
		padding-top: 15px;
		padding-bottom: 15px;
		line-height:20px;
	}
    }
    a.navbar-brand{

    }
    a.navbar-brand > img {
        height: 70px;
        padding-left:0;
        margin-left: -15px;
        .transition( height 1s ease-in-out);
	//margin-top: -9px;
	.transition(margin-top 1s ease-in-out);
    }
    .top-brand-collapse {
	margin-top: inherit !important;;
        height: 50px !important;
    }
}
@media(max-width:767px) {
    a.navbar-brand > img {
        height: 50px;
    }
}





@-webkit-keyframes pulse {    
    0 {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes pulse {
    0 {
        -moz-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}


.footer-svg{
    width:100%;
    padding-bottom: 3em;
}


@media (max-width: 767px) {
  #content .modal.fade.in {
    top: 5%;
  }
}

.form-control{
background-color: inherit;
}

.call-back{
	margin-top: 3em;
	min-height: 20em;
}

.btn{
  border: inherit;
}

#footer,footer {
    border: 0px;
    color: @light;
    background: rgb(35,31,32);
    padding-top: 2em;
    margin-bottom: 0;
    font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    /* padding: 50px 0; */
    @media @tablet {padding: 2em 2em 0}
    @media (min-width: @screen-sm-min) {.clearfix{display: none}}
    @media (max-width: @screen-xs-max){
	    padding-left:0;
	    > div > div {
		    min-height: 6.5em;
	    }
    }
    .row{
        margin-left: 0;
    }
    p {
      font-family: @t5;
      color:@c22;
      font-size: small;
      margin: 0.5em 1em;
      @media (max-width: @screen-xs-max) {font-size: smaller; margin: 0; letter-spacing: -1px}
    }
    h4 {
      color: @light;
      font-size: small;
      margin: 1em 1em 0.5em;
      @media @tablet {margin: 3em 1em 0.5em;}
      @media (max-width: @screen-xs-max) {font-size: smaller; margin: 0; letter-spacing: -1px}

    }
    div:last-child img{
	    max-width: 95%;
	    margin-top: 2em;
	    @media @tablet { margin-top:40px; margin-left:0; max-width:80%}
	    .border-radius(20px);
    }
    @media (min-width: @screen-lg-min) {
	    div:last-child img {
		    margin-left:3em;
		    margin-right: 3em;
	    }
    }
}

::-moz-selection {
    text-shadow: none;
    background: #ff0;
    background: fade(#ff0, 40%);
}

::selection {
    text-shadow: none;
    background: #ff0;
    background: fade(#ff0, 40%);
}

img::selection {
    background: transparent;
}

img::-moz-selection {
    background: transparent;
}

body {
    overflow-x: hidden;
}


#cms_toolbar-item_login{
	display:none
}
