{% block doctype %}<!DOCTYPE html>{% endblock %}
{% load url from future %}{% load cms_tags sekizai_tags menu_tags %}{% load dajaxice_templatetags %}
{% load i18n satchmo_category satchmo_google satchmo_util satchmo_currency satchmo_discounts app_plugins normalize_decimal %}
<head>
  {% block extra-head %}{% endblock %}
  {% block stylesheet %}<link rel="stylesheet" href="{{ STATIC_URL }}css/style.css" />{% endblock %}
  <title>
    {% block title %}{{ shop_name }}{% if pagetitle %}: {{ pagetitle }}{% endif %}{% endblock %}
  </title>
  <!--<meta name="viewport" content="initial-scale=1.0,maximum-scale=1,width=device-width" />-->
  <meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width" media="(device-height: 568px)" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  {% plugin_point "page_head" %}
  {% render_block "css" %}
  <link rel="shortcut icon" type="image/x-icon" href="http://placehold.it/114x114px">
  {% addtoblock "css" %}<link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet" type="text/css" />{% endaddtoblock %}
  {% addtoblock "css" %}    <link href="{{ STATIC_URL }}css/font-awesome.css" rel="stylesheet" type="text/css" />{% endaddtoblock %}
  {% addtoblock "css" %}    <link href="{{ STATIC_URL }}css/ionicons.css" rel="stylesheet" type="text/css" />{% endaddtoblock %}
  {% addtoblock "css" %}    <link href="{{ STATIC_URL }}css/plugin/jPushMenu.css" rel="stylesheet" type="text/css" />{% endaddtoblock %}
  {% addtoblock "css" %}    <link href="{{ STATIC_URL }}css/plugin/animate.css" rel="stylesheet" type="text/css" />{% endaddtoblock %}
  {% addtoblock "css" %}    <link href="{{ STATIC_URL }}css/jquery-ui.css" rel="stylesheet" type="text/css" />{% endaddtoblock %}
  {% addtoblock "css" %}    <link href="{{ STATIC_URL }}less/style.less" rel="stylesheet/less" title="Style"  type="text/css" />{% endaddtoblock %}
  <script>
    less = {
      env: "development",
      async: false,
      fileAsync: false,
      poll: 60000,
      functions: {},
      dumpLineNumbers: "comments",
      relativeUrls: false,
    };
  </script>
  <script src="{{ STATIC_URL }}js/less.js" type="text/javascript"></script>
  <script>less.watch();</script>
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>

<body id="{% if bodyid %}{{ bodyid }}{% else %}page-top{% endif %}"
  data-spy="scroll" data-target=".navbar-custom"  class="{% if bodyclass %}{{ bodyclass }}{% else %}full-intro{% endif %}">
  {% cms_toolbar %}
  {% plugin_point "page_top" %}


  <!-- Preloader -->
  <section id="preloader">
    <div class="loader" id="loader">
      <div class="loader-img"></div>
    </div>
  </section>
  <!-- End Preloader -->

  <!-- Sidemenu -->
  <section class="side-menu cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right">
    <a class="menu-close toggle-menu menu-right push-body"><i class="ion ion-android-close"></i></a>
    <h5 class="white">Sign In</h5>
    <div class="sign-in">

      <form method="post" action="/accounts/login/">{% csrf_token %}
          <input class="input-sm form-full" type="email" aria-required="true" name="email" placeholder="Email" value="" id="id_username" maxlength="75" name="username" type="text" />
          <input class="input-sm form-full" type="password" aria-required="true"  name="password" placeholder="Password" value="" id="id_password" name="password" type="password" />
        <input type="submit" class="btn btn-md btn-color-b form-full" value="Sign In" />
        <input type="hidden" name="next" value="{{ request.get_full_path }}" />
      </form>

      <a href="/accounts/register/">New Customer?</a>

      <!--<p>If you do not remember your password, please <a class="fancybox" data-fancybox-type="iframe" href="/accounts/password_reset/">click here</a> to have it reset.</p>-->


    </div>
    {% static_placeholder 'sidemenu' %}
  </section>
  <!-- Sidemenu -->

  <!-- Search menu Top -->
  <section class=" top-search-bar cbp-spmenu cbp-spmenu-horizontal cbp-spmenu-top">
    <div class="container">
      <div class="search-wraper">
        <form action="/shop/search/">
          <input type="text" class="input-sm form-full" placeholder="Search..." name="Keywords" />
          <a class="search-bar-icon"><i class="fa fa-search"></i></a>
          <a class="bar-close toggle-menu menu-top push-body"><i class="ion ion-android-close"></i></a>
        </form>
      </div>
    </div>
  </section>
  <!--End Search menu Top -->

  <!-- Site Wraper -->
  <div class="wrapper">

    <!-- HEADER -->
    <header class="header">
      <div class="container">

        <div class="logo">
          <a href="/">
            <img class="l-black" src="{{ STATIC_URL }}img/logo-black.png" />
            <img class="l-white" src="{{ STATIC_URL }}img/logo-white.png" />
            <img class="l-color" src="{{ STATIC_URL }}img/logo-color.png" />
          </a>
        </div>
        <!--End logo-->

        <!-- Rightside Menu (Search, Cart, Bart icon) -->
        <div class="side-menu-btn">
          <ul>
            <!-- Search Icon -->
            <li class="">
              <a class="right-icon search toggle-menu menu-top push-body"><i class="fa fa-search"></i></a>
            </li>
            <!-- End Search Icon -->

            <!-- Cart Icon -->
            {% include "includes/cart.html" %}
            <!-- End Cart Icon -->

            <!--Sidebar Menu Icon-->
            <li class="">
              <a class="right-icon bar-icon toggle-menu menu-right push-body"><i class="fa fa-bars"></i></a>
            </li>
            <!-- End Sidebar Menu Icon-->
          </ul>
        </div>
        <!-- End Rightside Menu -->

      {# Navigation Menu #}
      <nav class='navigation'>
        <ul>
          {% show_menu 0 100 100 100 %}
          <li>
            <a href="/shop/">Shop</a>
            <!-- Nav Dropdown -->
            <ul class="nav-dropdown">
              {% if category.id %}
              {% category_tree category.id %}
              {% else %}
              {% if product.get_category %}
              {% category_tree product.get_category.id %}
              {% else %}
              {% category_tree %}
              {% endif %}
              {% endif %}
            </ul>
            <!-- End Nav Dropdown -->
          </li>
          {% comment %}{% language_chooser "menu/language_chooser.html" %}{% endcomment %}
        </ul>
      </nav>
      <!--End Navigation Menu -->

  </header>
  <!-- END HEADER -->

  <div id="container">
    <!--<div id="top">
      <h1>{{ shop_name }}</h1>
    </div>-->

    <div id="navbar" class="hidden">
      <ul>
        {% block navbar %}Breadcrumbs here{% endblock %}
      </ul>
    </div>

    <div id="sidebar-secondary" class="hidden">
      {% block sidebar-secondary %}
      <div>
        {% satchmo_search_form %}
      </div>
      <div>
        {% block sidebar %}
        <h3>{% trans "Shop Categories" %}</h3>
        {% block sidebar-categories %}
        <div id="menu_container">
          {% if category.id %}
          {% category_tree category.id %}
          {% else %}
          {% if product.get_category %}
          {% category_tree product.get_category.id %}
          {% else %}
          {% category_tree %}
          {% endif %}
          {% endif %}
        </div>
        {% endblock sidebar-categories %}

        {% block sidebar-secondary-bottom %}
        {% plugin_point "sidebar_secondary_bottom" %}
        {% endblock %}
        {% endblock sidebar %}
      </div>
      {% endblock sidebar-secondary %}
    </div>

    <div id="sidebar-primary" class="hidden">{# rightnav #}
      {% block sidebar-primary %}
      <h3>{% trans "Quick Links" %}</h3>
      {% url "satchmo_product_recently_added" as recenturl %}
      {% if recenturl %}<a href="{{ recenturl }}">{% trans "Recently Added" %}</a>{% endif %}
      {% url "satchmo_product_best_selling" as popularurl %}
      {% if popularurl %}<br/><a href="{{ popularurl }}">{% trans "Best Sellers" %}</a><br/>{% endif %}
      {% url "satchmo_category_index" as category_index %}
      {% if category_index %} <a href="{{ category_index }}">{% trans "Category Index" %}</a><br /> {% endif %}
      {% url "satchmo_quick_order" as quick_order %}
      {% if quick_order %}<a href="{{ quick_order }}">{% trans "Quick Order" %}</a> {% endif %}
      {% plugin_point "sidebar_links" %}

      <h3>{% trans "Account Information" %}</h3>
      {% if user.is_staff %}
      <a href="{% url "admin:index" %}" target="blank">{% trans "Admin" %}</a><br/>
      {% endif %}
      {% if user.is_authenticated %}
      {% url "satchmo_account_info" as accounturl %}
      {% if accounturl %}<a href="{{ accounturl }}" target="blank">{% trans "Account Details" %}</a><br/>{% endif %}
      <a href="{{ logout_url }}?next={{request.path}}">{% trans "Log out" %}</a><br/>
      {% else %}
      <a href="{{ login_url }}?next={{request.path}}">{% trans "Log in" %}</a><br/>
      {% endif %}

      {% url "satchmo_cart" as carturl %}
      {% if carturl %}<a href="{{ carturl }}">{% trans "Cart" %}</a>{% endif %}

      {% if not cart.is_empty %}
      ({{ cart_count|normalize_decimal }} - {% if sale %}{{ cart|discount_cart_total:sale|currency }}{% else %}{{cart.total|currency}}{% endif%}) <br/>
      {% url "satchmo_checkout-step1" as checkouturl %}
      {% if checkouturl %}<a href="{{ checkouturl }}">{% trans "Check out" %}</a>{% endif %}
      {% endif %}

      {% plugin_point "shop_sidebar_actions" %}

      {% url "satchmo_contact" as contact_url %}
      {% if contact_url %}<p><a href="{{ contact_url }}">{% trans "Contact Us" %}</a></p>{% endif %}

      {% satchmo_language_selection_form %}

      {% block sidebar-primary-bottom %}
      {% plugin_point "shop_sidebar_primary" %}
      {% endblock %}
      {% endblock sidebar-primary %}
    </div>

    <!--<div id="content">-->
      {% placeholder base_content %}
      {% block base_content%}{% endblock %}

      <section class="ptb ptb-sm-80">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              {% block content %}{% endblock %}
            </div>
          </div>
        </div>
      </section>
  </div>
  <div id="footer">

    {% block footer %}
    {% static_placeholder 'footer' %}
    {% blocktrans %}<footer class="footer">Powered by <a href="http://www.openco.ca">OpenCo</a>.</footer>{% endblocktrans %}
    {% endblock %}
  </div>

</div>
{% block page-close %}
{% block google-tracker %}
{% if shop.options.GOOGLE.ANALYTICS.value %}
{% show_tracker is_secure %}
{% endif %}
{% endblock %}
{% endblock %}
</body>
<script src="/static/js/inspired/modernizr.custom.70736.js"></script>
{% render_block "js" %}
{% addtoblock "js" %}<script src="/static/js/jquery.matchHeight.js"></script>{% endaddtoblock %}
{% addtoblock "js" %}{% dajaxice_js_import %}{% endaddtoblock %}
{% addtoblock "js" %}<script type="text/javascript" src="{{ STATIC_URL }}js/jssor.core.js"></script>{% endaddtoblock %}
{% addtoblock "js" %}<script type="text/javascript" src="{{ STATIC_URL }}js/jssor.utils.js"></script>{% endaddtoblock %}
{% addtoblock "js" %}<script type="text/javascript" src="{{ STATIC_URL }}js/jssor.slider.js"></script>{% endaddtoblock %}
{% addtoblock "js" %}<script src="{{ STATIC_URL }}js/jquery-1.11.2.min.js" type="text/javascript"></script>{% endaddtoblock %}
{% addtoblock "js" %}<script src="{{ STATIC_URL }}js/jquery-ui.min.js" type="text/javascript"></script>{% endaddtoblock %}
{% addtoblock "js" %}<script src="{{ STATIC_URL }}js/plugin/jquery.easing.js" type="text/javascript"></script>{% endaddtoblock %}
{% addtoblock "js" %}<script src="{{ STATIC_URL }}js/bootstrap.min.js" type="text/javascript"></script>{% endaddtoblock %}
{% addtoblock "js" %}<script src="{{ STATIC_URL }}js/plugin/jquery.flexslider.js" type="text/javascript"></script>{% endaddtoblock %}
{% addtoblock "js" %}<script src="{{ STATIC_URL }}js/plugin/background-check.min.js" type="text/javascript"></script>{% endaddtoblock %}
{% addtoblock "js" %}<script src="{{ STATIC_URL }}js/plugin/jquery.fitvids.js" type="text/javascript"></script>{% endaddtoblock %}
{% addtoblock "js" %}<script src="{{ STATIC_URL }}js/plugin/jquery.viewportchecker.js" type="text/javascript"></script>{% endaddtoblock %}
{% addtoblock "js" %}<script src="{{ STATIC_URL }}js/plugin/jquery.stellar.min.js" type="text/javascript"></script>{% endaddtoblock %}
{% addtoblock "js" %}<script src="{{ STATIC_URL }}js/plugin/wow.min.js" type="text/javascript"></script>{% endaddtoblock %}
{% addtoblock "js" %}<script src="{{ STATIC_URL }}js/plugin/jquery.colorbox-min.js" type="text/javascript"></script>{% endaddtoblock %}
{% addtoblock "js" %}<script src="{{ STATIC_URL }}js/plugin/owl.carousel.min.js" type="text/javascript"></script>{% endaddtoblock %}
{% addtoblock "js" %}<script src="{{ STATIC_URL }}js/plugin/isotope.pkgd.min.js" type="text/javascript"></script>{% endaddtoblock %}
{% addtoblock "js" %}<script src="{{ STATIC_URL }}js/plugin/masonry.pkgd.min.js" type="text/javascript"></script>{% endaddtoblock %}
{% addtoblock "js" %}<script src="{{ STATIC_URL }}js/plugin/imagesloaded.pkgd.min.js" type="text/javascript"></script>{% endaddtoblock %}
{% addtoblock "js" %}<script src="{{ STATIC_URL }}js/plugin/jPushMenu.js" type="text/javascript"></script>{% endaddtoblock %}
{% addtoblock "js" %}<script src="{{ STATIC_URL }}js/plugin/jquery.fs.tipper.min.js" type="text/javascript"></script>{% endaddtoblock %}
{% addtoblock "js" %}<script src="{{ STATIC_URL }}js/plugin/mediaelement-and-player.min.js"></script>{% endaddtoblock %}
{% addtoblock "js" %}<script src="{{ STATIC_URL }}js/theme.js" type="text/javascript"></script>{% endaddtoblock %}
{% addtoblock "js" %}<script src="{{ STATIC_URL }}js/navigation.js" type="text/javascript"></script>{% endaddtoblock %}
</html>
