{% extends "base.html" %}
{% load cms_tags %}

Template 1

{% block base_content %}
<!-- template_content Section -->
<section class="ptb ptb-sm-80">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        {% placeholder template_content %}
      </div>
    </div>
  </div>
</section>

{% endblock %}
