{% extends "shop/base.html" %}
{% load i18n satchmo_category %}
{% block navbar %}
    <li class="first"><a href="{{ shop_base }}/">{% trans "Home" %}</a></li>
    <li>{% trans "Wishlist" %}</li>
{% endblock %}

{% block content %}

{% if request.user.is_authenticated %}
    {% blocktrans %}You are authenticated but need to set up your contact information. You can update it {% endblocktrans %}<a href="{% url "satchmo_profile_update" %}">{% trans "here" %}.</a>
{% else %}
    {% blocktrans %}Sorry, you must be <a href="{{ login_url }}">logged-in</a> to access your wishlist.{% endblocktrans %}
{% endif %}


{% endblock %}
