{% extends "shop/checkout/base_confirm.html" %}
{% load i18n %}
{% load satchmo_googlecheckout %}
{# this is the Google confirm template #}

{% block payment_step %}<a href="{% url "GOOGLE_satchmo_checkout-step2" %}">{% trans "Payment" %}</a>{% endblock %}

{% block payment_display %}
<h4>{% trans "Payment" %}</h4>
{% if not PAYMENT_LIVE %}<b>PAYMENT TEST MODE</b><br/>{% endif %}
{% trans "Your payment will be processed through Google Checkout." %}
{% endblock %}

{% block payment_form %}
{% if order.paid_in_full %}
<form action="{% url "GOOGLE_satchmo_checkout_free-confirm" %}">
    <input type="submit" value="{% trans "Purchase Items" %}" />
</form>
{% else %}
<form name="google_form" action="{{ post_url }}" method="post">{% csrf_token %}
    <input type="hidden" name="cart" value="{{ google_cart }}" />
    <input type="hidden" name="signature" value="{{ google_signature }}" />
    <input type="image" name="Google Checkout" src="{% google_checkout_image_url MEDIUM %}" alt="{% trans "Fast checkout through Google" %}"/>
</form>
{% endif %}
{% endblock %}
