{% load friendly %}
<br>
<h2>{{ form_definition.title }}</h2>
<form name="{{ form_definition.name }}" action="{{ form_definition.action }}" method="{{ form_definition.method }}" enctype="multipart/form-data">
    {% if form_success %} 
    <b>{{ form_definition.success_message }}</b>
    {% endif %}
    {% if form_error %} 
    <b>{{ form_definition.error_message }}</b>
    {% endif %}

    {% for entry in logs %}
        {% for field in entry.data %}
        <p>
            <label for="">{{ field.label }}</label>
            {{ field.value|friendly }}
        </p>
        {% endfor %}
    {% endfor %}
    <div class="container-fluid">
    {% for field in form %}
        {% if not field.is_hidden %}

        {% if field.help_text %}
        <div class="row form-group">
            <div class="col-sm-12">
            {{ field.help_text }}
            </div>
        </div>
        {% endif %}

        {% if field.errors %}
        <div class="row">
            <div class="col-sm-offset-2 col-sm-10">
            {{ field.errors }}
            </div>
        </div>
        {% endif %}

        <div class="row form-group">
            
            <div class="col-sm-2 text-right">
                <label for="{{ field.auto_id }}">{{ field.label }}</label><br>
            </div>
            <div class="col-sm-10 field {% if field.errors %}errors{% endif %}{% if field.field.required %}{% if field.errors %} {% endif %}required{% endif %}">
                {{ field }}
            </div>
        </div>
        {% endif %}
    {% endfor %}
        <div class="row">
            <div class="col-sm-offset-2 col-sm-10 buttons"> 
            {% include "html/formdefinition/forms/includes/submit.html" %}
            </div>
        </div>
    </div>
    {% for field in form.hidden_fields %}
        {{ field }}
    {% endfor %}
    {% csrf_token %}
</form>
<br>
