<div id="cms_toolbar-item_anchor" class="cms_toolbar-item cms_toolbar-item_admin">
	<a href="http://openco.ca" class="cms_toolbar-btn_left cms_toolbar-link_left">
		<span class="cms_toolbar-btn_right">
			<span class="cms_toolbar_icon toolbar_icon-prefix"></span>
			<span class="cms_toolbar_title">OpenCo</span>
			<span class="cms_toolbar_icon cms_toolbar_icon-link">-</span>
		</span>
	
	<!--<span class="cms_toolbar-link_right">
			<span class="cms_toolbar_icon toolbar_icon-prefix">&nbsp;</span>
			<span class="cms_toolbar_title">&nbsp;[title]</span>
		</span>-->
	</a>
</div>
